# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.vscode/
.clangd/
.cache/
compile_commands.json

# Build artifacts
build/
*.bin
*.elf
*.map
*.hex

# IDE
.idea/
*.iml
.DS_Store

# Logs
*.log

# OS
Thumbs.db
external/ESP32Marauder/esp32_marauder/esp32_marauder.ino.cpp

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json
